/* font-name */
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;

  }
  
/* all share style */
.max-width{
    max-width: 1160px;
    margin: 0 auto;
  }
.section-title{
    color: #000000;
    font-size: 46px;
    font-weight: bold;
    line-height: 57px;
    text-align: center;
}
.color-primary{
    color: #FEA301;
}
.color-secondary{
    color: #01ACFD;
}

.primary-btn{
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}
.secondary-btn{
    width: 197px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}
/* nav style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}
.nav-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo{
    width: 62px;
    height: 62px;
}
.nav-title{
    color: black;
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
}
.nav-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.nav-menu > li > a{
    text-decoration: none;
}
.nav-menu > li{
    list-style: none;
}
.fa-bars{
    color: black;
    font-size: 30px;
    display: none;
}
.menu-item1{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #FEA301;
}
.menu-item2{
    color: #01ACFD;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
.menu-item3{
    color: #05D4DF;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
.menu-item4{
    color: #5D58EF;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
/* banner section styles */
.banner{
    margin-bottom: 60px;
    padding: 0px 0px;
}
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 0px;
    gap: 50px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    gap: 24px;
    width: 65%;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.banner-description{
    font-size: 20px;
    color: #111111;
}
.banner-image{
    width: 100%;
}
 /* standard curriculum styles */
 .standard-curriculum{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px;
    margin: 0 auto;
 }
 .curriculum-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
    gap: 28px;
    margin: 0 auto;
 }
 .curriculum-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
 }
 .curriculum-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border: 1px solid #DEF5FF;
    border-radius: 19px;
    background-image: linear-gradient(180deg, #DEF5FF, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border: 1px solid #FFF4DC;
    border-radius: 19px;
    background-image: linear-gradient(180deg, #FFF4DC, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border-radius: 19px;
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(180deg, #F2E8FF, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-card-title{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
 }
 .curriculum-card-description{
    font-size: 15px;
    font-weight: medium;
    line-height: 28px;
 }
 .curriculum-card-button1{
    color: #64C8FF;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .curriculum-card-button2{
    color: #F0AA00;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .curriculum-card-button3{
    color: #8700FF;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .fa-circle-arrow-left{
    font-size: 60px;
    line-height: 60px;
    color: #FEA301;
 }
 .fa-circle-arrow-left:hover{
    color: #01ACFD;
 }
 .fa-circle-arrow-right{
    font-size: 60px;
    line-height: 60px;
    color: #FEA301;
 }
 .fa-circle-arrow-right:hover{
    color: #01ACFD;
 }
 /* our stories style */
 .our-stories{
    margin: 0 auto;
    padding: 60px 0px;
    background-image: url(../assets/bg.png), linear-gradient(180deg, #ffffff, #fea1015b);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
 }
 .stories-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    padding: 80px 0px;
    gap: 19px;
 }
 .stories-cards-1st{
    width: 42%;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
 }
 .stories-cards-all{
    width: 58%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 19px;
    row-gap: 19px;
 }
 .stories-card-image{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
 }
 .stories-card1-title{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
    margin: 40px 0px;
 }
 .stories-card-title{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding: 19px 0px;
 }
 .stories-card-description{
    font-size: 16px;
    font-weight: medium;
    line-height: 28px;
 }
 .stories-card1-content{
    padding: 0px 30px 40px 30px;
 }
 .stories-view-button{
    text-align: center;
 }
 .stories-card1{
    background-color: white;
    border-radius: 16px;
 }
.stories-card2, .stories-card3, .stories-card4, .stories-card5{
    background-color: white;
    border-radius: 16px;
 }
 .stories-card2-content, .stories-card3-content, .stories-card4-content, .stories-card5-content{
    padding: 0px 30px 0px 30px;
 }
 .stories-card-button1{
    background-color: #3CD8E8;
    width: 174px;
    height: 47px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -70px;
    position: absolute;
 }
 .stories-card-button2{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button3{
    background-color: #5D58F0;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button4{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button5{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 #card3, #card4{
    display: none;
 }
/* footer section styles */
.footer{
    background-color: #01ACFD;
    padding: 80px 0px;
    margin: 0 auto;
}
.footer-container{
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}
.footer-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 60px;
}
.footer-menu{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    gap: 20px;
}
.footer-social{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}
.footer-logo-and-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}
.footer-site-title{
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
}
.footer-img{
    width: 82px;
    height: 82px;
}
.footer-description{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.footer-menu-title, .social-title{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.footer-menu > ul > li{
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: medium;
    margin-left: -40px;
}
.footer-menu > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social > img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
/* marquee style */
.marquee{
    background-color: #F0AA00;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.marquee-text{
    color: #DEF5FF;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}
.marquee-heading{
    width: 15%;
    background-color: #f00000;
    padding: 10px 10px;
    color: #DEF5FF;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}


 /* Mobile device styles */
 @media screen and (max-width:576px) {
    *{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    /* nav style in mobile */
    #header{
        padding: 0px 10px;
        border: 1px solid #FEA301;
    }
    .nav{
        height: 70px;
    }
    .logo{
        width: 46px;
        height: 46px;
        border: 1px solid #FEA301;
    }
    .nav-menu{
        display: none;
    }
    .nav-title{
        display: none;
    }
    .menu-button{
        display: none;
    }
    .fa-bars{
        padding: 2px 5px;
        display: block;
        border: 1px solid #FEA301;
    }
    .nav-button > a{
        text-decoration: none;
    }
    /* banner section style for mobile */
    .banner{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .banner-container{
        justify-content: center;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px 0px;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .banner-title{
        font-size: 32px;
        line-height: 38px;
        padding: 0px 10px;
    }
    .banner-description{
        font-size: 14px;
        padding: 0px 10px;
    }
    .secondary-btn{
        width: 161px;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 24px;
        border-radius: 8px;
    }
    .banner-img{
        width: calc(100%-20px);
        padding: 0px 10px;
    }
    /* standard curriculum style for mobile */
    .standard-curriculum{
        padding: 40px 10px 0px 10px;
        width: calc(100%-20px) ;
    }
    .section-title{
        font-size: 26px;
        line-height: auto;
    }
    .curriculum-card{
        flex-direction: column;
        gap: 22px;
        padding: 20px 0px;
    }
    .curriculum-icon{
        display: none;
    }
    .curriculum-card-title{
        font-size: 16px;
        line-height: 20px;
     }
     .curriculum-card-description{
        font-size: 10px;
        line-height: 19px;
     }
     .curriculum-card1{
        gap: 22px;
        padding: 36px 20px;
     }
     .curriculum-card-button1, .curriculum-card-button2, .curriculum-card-button3{
        font-size: 10px;
        line-height: 19px;
     }
     /* our stories style for mobile */
     .stories-cards-1st{
        display: none;
     }
     .stories-cards-all{
        width: 100%;
        
     }
     .stories-cards-container{
        width: calc(100%-20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        padding: 40px 10px;
        gap: 19px;
     }
     .stories-card-button2, .stories-card-button3, .stories-card-button4, .stories-card-button5{
        width: 103px;
        height: 22px;
        font-size: 9px;
        line-height: 17px;
        margin-top: -15px;
     }
     .stories-card2-content, .stories-card3-content, .stories-card4-content, .stories-card5-content{
        padding: 0px 20px 0px 20px;
     }
     .stories-card-title{
        font-size: 9px;
        line-height: 17px;
        padding: 15px 0px;
     }
     .our-stories{
        padding: 30px 0px;
     }
     #card3, #card4{
        display: block;
     }
     .secondary-btn{
        width: 134px;
        height: 30px;
        font-size: 16px;
    }
     /* footer section style for mobile */
     .footer{
        width: 100%-20px;
        padding: 40px 10px;
     }
     .footer-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: calc(100%-20px);
        padding: 0px 0px;
        margin: 0px 0px;
    }
    .footer-logo{
        width:80%;
    }
    .footer-logo-and-title{
        width: 50%;
    }
    .footer-text{
        width: 100%;
    }
    .footer-site-title{
        font-size: 32px;
        line-height: 33px;
    }
    .footer-description{
        font-size: 16px;
        width: 100%;
    }
    .footer-menu{
        width: calc(100% - 20px);

    }
    .footer-social{
        width: calc(100% - 20px);
    }
    .footer-menu > ul > li{
        font-size: 16px;
        font-weight: 500;
        margin-left: 0px;
    }
    .social > img{
        width: 33px;
        height: 33px;
    }
/* marquee style for mobile */
.marquee-text{
    color: #DEF5FF;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
}
.marquee-heading{
    width: 28%;
    padding: 5px 0px;
    color: #DEF5FF;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
 }
 /* medium device or tablet device styles */
 @media screen and (min-width:576px) and (max-width:992px) {
    *{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    /* nav style in mobile */
    #header{
        margin: 0 auto;
        border: 1px solid #FEA301;
    }
    .nav{
        height: 70px;
        padding: 0px 20px;
    }
    .logo{
        width: 46px;
        height: 46px;
        border: 1px solid #FEA301;
    }
    .nav-menu{
        display: none;
    }
    .nav-title{
        display: block;
    }
    .menu-button{
        display: none;
    }
    .fa-bars{
        padding: 2px 5px;
        display: block;
        border: 1px solid #FEA301;
    }
    .nav-button > a{
        text-decoration: none;
    }

    /* banner section style for medium device or tablet */
    .banner{
        margin: 0px 0px;
        padding: 5px 10px;
    }
    .banner-container{
        justify-content: center;
        flex-direction: row;
        gap: 30px;
        padding: 20px 0px;
        /* width: 92%;
        margin: 0 auto; */
    }
    .banner-content{
        flex-direction: column;
        justify-content: baseline;
        align-items: start;
        text-align: start;
    }
    .banner-title{
        font-size: 35px;
        line-height: 38px;
    }
    .banner-description{
        font-size: 14px;
    }
    .banner-image{
        width: 100%;
    }
    /* standard curriculum style for tablet */
    .standard-curriculum{
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .section-title{
        font-size: 30px;
        line-height: auto;
    }
    .curriculum-card{
        flex-direction: row;
        width: 92%;
        gap: 15px;
        padding: 10px 0px;
    }
    .curriculum-icon{
        display: none;
    }
    .curriculum-card-title{
        font-size: 18px;
        line-height: 20px;
     }
     .curriculum-card-description{
        font-size: 12px;
        line-height: 17px;
     }
     .curriculum-card1{
        gap: 15px;
        padding: 40px 21px;
     }
     .curriculum-card-button1, .curriculum-card-button2, .curriculum-card-button3{
        font-size: 10px;
        line-height: 19px;
     }
    /* our stories section styles for medium device */
    .stories-cards-1st{
        display: none;
     }
     .stories-cards-all{
        width: 92%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }
     .stories-cards-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        padding: 40px 0px;
        gap: 19px;
     }
     .stories-card-button2, .stories-card-button3, .stories-card-button4, .stories-card-button5{
        width: 103px;
        height: 22px;
        font-size: 9px;
        line-height: 17px;
        margin-top: -15px;
     }
     .stories-card2-content, .stories-card3-content, .stories-card4-content, .stories-card5-content{
        padding: 0px 20px 0px 20px;
     }
     .stories-card-title{
        font-size: 9px;
        line-height: 17px;
        padding: 15px 0px;
     }
     .our-stories{
        padding: 30px 0px;
     }
     #card3, #card4{
        display: block;
     }
     .secondary-btn{
        width: 138px;
        height: 40px;
        font-size: 16px;
    }
    /* marquee section style for medium device or tablet */
    .marquee-heading{
        font-size: 20px;
        line-height: 25px;
        width: 35%;
    }
    /* footer section styles for tablet */
    .footer{
        padding: 30px 0px;
     }
     .footer-container{
        width: 92%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .footer-logo{
        width: 40%;
    }
    .footer-img{
        width: 70px;
        height: 70px;
    }
    .footer-site-title{
        font-size: 28px;
        line-height: 33px;
    }
    .footer-description{
        font-size: 14px;
    }
    .footer-menu{
        width: 30%;

    }
    .footer-social{
        width: 30%;
    }
    .footer-menu > ul > li{
        font-size: 14px;
        font-weight: 500;
        margin-left: 0px;
    }
    .footer-menu-title, .social-title{
        font-size: 20px;
    }
    .social > img{
        width: 30px;
        height: 30px;
    }
 }
  