/* font-name */
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;

  }
/* all share style */
.section-title{
    color: #000000;
    font-size: 46px;
    font-weight: bold;
    line-height: 57px;
    text-align: center;
}
.color-primary{
    color: #FEA301;
}
.color-secondary{
    color: #01ACFD;
}

.primary-btn{
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}
.secondary-btn{
    width: 197px;
    height: 50px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}
/* nav style */
.header{
    width: 100%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo{
    width: 62px;
    height: 62px;
}
.nav-title{
    color: black;
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
}
.nav-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.nav-menu > li > a{
    text-decoration: none;
}
.nav-menu > li{
    list-style: none;
}
.fa-bars{
    color: black;
    font-size: 30px;
    display: none;
}
.menu-item1{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #FEA301;
}
.menu-item2{
    color: #01ACFD;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
.menu-item3{
    color: #05D4DF;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
.menu-item4{
    color: #5D58EF;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px;
}
.nav-button{
    display: flex;
    justify-content: end;
    align-items: center;
}
/* banner section styles */
.banner{
    margin-bottom: 60px;
    padding: 0px 0px;
}
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 0px;
    gap: 50px;
    width: 80%;
    /* height: 575px; */
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    gap: 24px;
    width: 65%;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
}
.banner-description{
    font-size: 20px;
    color: #111111;
}
.banner-img{
    /* width: 468px; */
}
.banner-image{
    width: 100%;
    /* height: 100vh; */
}
 /* standard curriculum styles */
 .standard-curriculum{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px;
    margin: 0 auto;
 }
 .curriculum-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
    gap: 28px;
    width: 80%;
    margin: 0 auto;
 }
 .curriculum-icon{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
 }
 .curriculum-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border: 1px solid #DEF5FF;
    border-radius: 19px;
    background-image: linear-gradient(180deg, #DEF5FF, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border: 1px solid #FFF4DC;
    border-radius: 19px;
    background-image: linear-gradient(180deg, #FFF4DC, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 22px;
    border-radius: 19px;
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(180deg, #F2E8FF, #ffffff, #ffffff, #ffffff);
 }
 .curriculum-box-title{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
 }
 .curriculum-box-description{
    font-size: 15px;
    font-weight: medium;
    line-height: 28px;
 }
 .curriculum-box-button1{
    color: #64C8FF;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .curriculum-box-button2{
    color: #F0AA00;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .curriculum-box-button3{
    color: #8700FF;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    border: none;
 }
 .fa-circle-arrow-left{
    font-size: 60px;
    line-height: 60px;
    color: #FEA301;
 }
 .fa-circle-arrow-left:hover{
    color: #01ACFD;
 }
 .fa-circle-arrow-right{
    font-size: 60px;
    line-height: 60px;
    color: #FEA301;
 }
 .fa-circle-arrow-right:hover{
    color: #01ACFD;
 }
 /* our stories style */
 .our-stories{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0px;
    background-image: url(../assets/bg.png), linear-gradient(180deg, #ffffff, #fea1015b);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
 }
 .stories-cards-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    padding: 80px 0px;
    gap: 19px;
 }
 .stories-cards-1st{
    width: 42%;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
 }
 .stories-cards-all{
    width: 58%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 19px;
    row-gap: 19px;
 }
 .stories-card-image{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
 }
 .stories-card1-title{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
    margin: 40px 0px;
 }
 .stories-card-title{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding: 19px 0px;
 }
 .stories-card-description{
    font-size: 16px;
    font-weight: medium;
    line-height: 28px;
 }
 .stories-card1-content{
    padding: 0px 30px 40px 30px;
 }
 .stories-view-button{
    text-align: center;
 }
 .stories-card1{
    background-color: white;
    border-radius: 16px;
 }
.stories-card2, .stories-card3, .stories-card4, .stories-card5{
    background-color: white;
    border-radius: 16px;
 }
 .stories-card2-content, .stories-card3-content, .stories-card4-content, .stories-card5-content{
    padding: 0px 30px 0px 30px;
 }
 .stories-card-button1{
    background-color: #3CD8E8;
    width: 174px;
    height: 47px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -70px;
    position: absolute;
 }
 .stories-card-button2{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button3{
    background-color: #5D58F0;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button4{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 .stories-card-button5{
    background-color: #95B226;
    width: 174px;
    height: 36px;
    color: #ffffff;
    font: 15px;
    font-weight: medium;
    line-height: 29px;
    border: none;
    border-radius: 48px;
    margin-top: -25px;
    position: absolute;
 }
 #card3, #card4{
    display: none;
 }




 /* Mobile device styles */
 @media screen and (max-width:576px) {
    /* nav style in mobile */
    .nav{
        height: 70px;
    }
    .logo{
        width: 46px;
        height: 46px;
        border: 1px solid #FEA301;
    }
    .nav-menu{
        display: none;
    }
    .nav-title{
        display: none;
    }
    .menu-button{
        display: none;
    }
    .fa-bars{
        padding: 2px 5px;
        display: block;
        border: 1px solid #FEA301;
    }
    .nav-button > a{
        text-decoration: none;
    }
    .header{
        margin: 0 auto;
        width: 100%;
        border: 1px solid #FEA301;
    }
    /* banner section style for mobile */
    .banner{
        margin: 0px 0px;
        padding: 5px 10px;
    }
    .banner-container{
        justify-content: center;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px 0px;
        width: 100%;
    }
    .banner-content{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .banner-title{
        font-size: 32px;
        line-height: 38px;
    }
    .banner-description{
        font-size: 14px;
    }
    .secondary-btn{
        width: 161px;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 24px;
        border-radius: 8px;
    }
    .banner-img{
        width: 100%;
    }
    /* standard curriculum style for mobile */
    .standard-curriculum{
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .section-title{
        font-size: 26px;
        line-height: auto;
    }
    .curriculum-box{
        flex-direction: column;
        width: 92%;
        gap: 22px;
        padding: 20px 0px;
    }
    .curriculum-icon{
        display: none;
    }
    .curriculum-box-title{
        font-size: 16px;
        line-height: 20px;
     }
     .curriculum-box-description{
        font-size: 10px;
        line-height: 19px;
     }
     .curriculum-box1{
        gap: 22px;
        padding: 36px 21px;
     }
     /* our stories style for mobile */
     .stories-cards-1st{
        display: none;
     }
     .stories-cards-all{
        width: 95%;
        margin: 0 auto;
     }
     .stories-cards-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin: 0 auto;
        padding: 40px 0px;
        gap: 19px;
     }
     .stories-card-button2, .stories-card-button3, .stories-card-button4, .stories-card-button5{
        width: 103px;
        height: 22px;
        font-size: 9px;
        line-height: 17px;
        margin-top: -15px;
     }
     .stories-card2-content, .stories-card3-content, .stories-card4-content, .stories-card5-content{
        padding: 0px 20px 0px 20px;
     }
     .stories-card-title{
        font-size: 9px;
        line-height: 17px;
        padding: 15px 0px;
     }
     .our-stories{
        padding: 40px 0px;
     }
     #card3, #card4{
        display: block;
     }








 }
  